*{
margin:0;
box-sizing:border-box;
padding: 0;
}

body {
    background-color: #444;
    color: #fff;
}

/* Cuando => flex-direction: row */
/* Eje principal => X u horizontal */
/* Eje Secundario => Y u vertical */

/* Cuando => flex-direction:column */
/* Eje principal => Y u vertical */
/* Eje principal => X u horizontal */

/* ¿Como se alinean los elementos en el eje principal? */
/* justify-content */
/* Como se alinean los elementos en el eje secundario */
/* align-items */


.main {
    display: flex;
    height: 500px;
    border: 1px solid #Fff;
    justify-content: space-evenly;
    align-items: flex-end;
}

.section1 {
    background-color: coral;
    height: 200px;
    width: 200px;
}

.section2 {
    background-color: dodgerblue;
    height: 200px;
    width: 200px;
}

.section3 {
    background-color: goldenrod;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 {
    display: flex;
    height: 300px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section4 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.bolita {
    width: 50px;
    height: 50px;
    background-color: rgb(67, 221, 175);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}