*{
margin:0;
box-sizing:border-box;
padding: 0;
}

body {
    background-color: #444;
    color: #fff;
}

main {
    width: 600px;
    height: 600px;
    display: flex;

    /* La propiedad align-content, sirve para alinear los elementos cuando la propiedad flex-wrap está en wrap y los elementos han colapsado formando asi mas de una fila en el caso flex row o más de una columna en el caso de flex column */
    flex-wrap: wrap;
    align-content: flex-start;  
    justify-content: center;  
    border: 1px solid #fff;
}

main div {
    width: 100px;
    margin: 20px;
    height: 50px;
}

main div:nth-child(even) {
    background-color: tomato;
}

main div:nth-child(odd) {
    background-color: teal;
}

