*{
margin:0;
box-sizing:border-box;
padding: 0;
}

ul{
list-style:none;
}

body {
    background-color: brown;
}

/* ¿Como se lee? */
/* Para todas las pantallas de dispositivos que ademas tengan un maximo de ancho de 1024px */

@media screen and (max-width: 1024px) {
    body {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: coral;
    }
}